GEMINI_API_KEY=your_gemini_token_here
GEMINI_MODEL=gemini-2.5-flash-lite
HOTKEY=<ctrl>+<shift>+1
HOTKEY_TRANS_EN=<ctrl>+<shift>+@
HOTKEY_TRANS_ZHTW=<ctrl>+<shift>+#
HOTKEY_TRANS_KHMER=<ctrl>+<shift>+$
KEEP_ORIGINAL_TEXT=false
DEBUG=false
